/*
*
* ScoreVG Search
* Desarrollado: Luis Mendoza @lugerius
* css/main.css Contiene los Estilos personalizados
*
*/


.alltext {
    white-space: normal !important;
    word-wrap:break-word;
    overflow-wrap: break-word;
    white-space: pre !important;           /* CSS 2.0 */
    white-space: pre-wrap !important;      /* CSS 2.1 */
    white-space: pre-line !important;      /* CSS 3.0 */
    white-space: -pre-wrap !important;     /* Opera 4-6 */
    white-space: -o-pre-wrap !important;   /* Opera 7 */
    white-space: -moz-pre-wrap !important; /* Mozilla */
    white-space: -hp-pre-wrap !important;  /* HP Printers */
}
#logo {
    display: block;
    margin:auto;
    width: 100%;
    text-align:center;
}
img {
    max-width: 100%;
    height: auto;
}